# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Storage
storage/pdfs/*
!storage/pdfs/.gitkeep

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep
